.search_bar {
	grid-column: 2 / 14;
	background-color: #fff;
	height: 8rem;
	margin-top: 4.4rem;
	border-radius: 6px;
	display: flex;
}
.search_bar_mobile {
	display: none;
}

.input_container {
	width: 46rem;
	height: 100%;
	border-radius: 6px 0 0 6px;
	display: flex;
	align-items: center;
}

.search_icon {
	width: 2.4rem;
	height: 2.4rem;
	margin: 0 1.6rem 0 3.2rem;
}

.input_text {
	height: 2rem;
	width: 80%;
	border: none;
	outline: none;
}

.input_text_tablet {
	display: none;
	height: 2rem;
	width: 80%;
	border: none;
	outline: none;
}

.location_container {
	width: 30rem;
	height: 100%;
	border-right: 1px solid #6e809848;
	border-left: 1px solid #6e809848;
	display: flex;
	align-items: center;
}

.location_icon {
	width: 1.7rem;
	height: 2.4rem;
	margin: 0 1.6rem 0 2.3rem;
}

.input_location {
	height: 2rem;
	width: 80%;
	border: none;
	outline: none;
}

.btn_container {
	display: flex;
	align-items: center;
}

.input_checkbox {
	width: 2.4rem;
	height: 2.4rem;
	accent-color: var(--clr-grey-500);
	background-color: var(--clr-grey-500);
	position: relative;
	margin: 0 1.6rem 0 3.2rem;
}

// .input_checkbox:before {
// 	content: "";
// 	position: absolute;
// 	width: 2.4rem;
// 	height: 2.4rem;
// 	background-color: var(--clr-grey-500);
// 	z-index: 2;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// }

.btn_text {
	color: var(--clr-blue-500);
	font-weight: 700;
	margin-right: 2.4rem;
}

.btn_text_tablet {
	display: none;
	color: var(--clr-blue-500);
	font-weight: 700;
}

.btn_search {
	width: 12.3rem;
	height: 4.8rem;
	background-color: var(--clr-Violet-400);
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-weight: 700;
	color: #fff;
	transition: var(--transition);
}

// / 760px 1024px
@media (max-width: 64em) {
	.search_bar {
	}

	.input_container {
		width: 22.2rem;
	}
	.location_container {
		width: 21.4rem;
	}
	.btn_container {
		width: 25rem;
	}

	.btn_text {
		display: none;
	}
	.btn_text_tablet {
		display: block;
		margin-right: 2.5rem;
	}

	.btn_search {
		width: 8rem;
		height: 4.8rem;
		border: none;
	}
	.input_checkbox {
		margin: 0 1.6rem 0 2rem;
	}

	.input_text {
		display: none;
	}
	.input_text_tablet {
		display: block;
	}
}

// 375 -480px
@media (max-width: 30em) {
	.search_bar {
		display: none;
	}
	.search_bar_mobile {
		display: block;
	}
}
